<div x-data="couponForm">
  <h3 class="text-xl font-bold mb-2">{{ item.button }}</h3>
  <!-- Form to input phone number -->
  <form @submit.prevent="sendCoupon" x-show="!success">
    <label for="phoneNumber" class="block mb-2">{{ item.label }}</label>

    <div class="flex items-center">
      <input x-model="formattedPhoneNumber" type="text" id="phoneNumber" name="phoneNumber" required
          pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}" placeholder="{{ item.placeholder }}"
          class="rounded-l-lg border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white px-3 py-2 placeholder-gray-400 text-sm focus:outline-none focus:border-gray-400"
          :class="{ 'border-red-500': !isValidNumber }">

      <!-- Additional elements to show success message or handle validation errors -->
      <p x-show="!isValidNumber" class="text-red-500 mb-4">Please enter a valid US phone number.</p>

      <button @click="sendCoupon" type="submit"
        class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-r-lg hover:bg-blue-600 focus:bg-blue-600 transition duration-300">
        <span class="flex items-center">
          <span class="sr-only">Send</span>
          <svg class="w-5 h-5 ml-1 transform rotate-45" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
          </svg>
        </span>
      </button>
    </div>
  </form>

  <!-- Success page -->
  <div x-show="success" class="text-green-500 text-center mt-2">
      <h2 class="text-2xl font-bold mb-4">Coupon Sent!</h2>
      <p class="text-gray-600">Thank you for requesting the coupon. Check your phone for the image file.</p>
  </div>
</div>
