<!-- Modal -->
<div x-data="{ open: false, phoneNumber: '', formattedPhoneNumber: '', sendCoupon: '', success: false, isValidNumber: true }"
x-show="open" class="fixed inset-0 flex items-center justify-center z-50" :aria-expanded="open">
  <div class="modal bg-white rounded-lg shadow-lg p-6" >
      <!-- Form to input phone number -->
      <form @submit.prevent="sendCoupon" x-show="!success">
          <label for="phoneNumber" class="block mb-2">Phone Number:</label>
          <input x-model="formattedPhoneNumber" type="text" id="phoneNumber" name="phoneNumber" required
              pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}" placeholder="(123) 456-7890"
              class="border border-gray-300 rounded-lg px-3 py-2 mb-4 w-full"
              :class="{ 'border-red-500': !isValidNumber }">

          <p x-show="!isValidNumber" class="text-red-500 mb-4">Please enter a valid US phone number.</p>

          <button type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
              Send Coupon via SMS
          </button>
      </form>

      <!-- Success page -->
      <div x-show="success" class="text-center mt-4">
          <h2 class="text-2xl font-bold mb-4">Coupon Sent!</h2>
          <p class="text-gray-600">Thank you for requesting the coupon. Check your phone for the image file.</p>
      </div>
  </div>
</div>
