# build artefacts
_site
dist

# secrets
.env

# dependecies installed by npm
node_modules

package-lock.json

.DS_Store

# logs
*.log
report.html

# cache
.eslintcache
.stylelintcache

# Local Netlify folder
.netlify

# Obsidian
.obsidian

### Misc ###

.DS_Store
