---
layout: base
eleventyNavigation:
  key: Coupon
  order: 2
meta:
  title: HTL Coupon
  description: this is the coupon test page.
---
<section class="mb-8">
  {% image "src/assets/images/valvoline-miami-hometown-lube.png", "HTL Logo", "mx-auto" %}

  <h1 class="text-lg font-bold">Valvoline Instant Oil Change</h1>
  <h2 class="text-2xl font-bold">Smooth Rides Start with Fresh Oil</h2>


  <p class="text-base">Get hassle-free oil changes in just 10 minutes at Hometown Lube! Stay in your car as our expert technicians take care of everything. No appointment needed! Witness the job done right before your eyes and hit the road with confidence. Experience convenience and speed at Hometown Lube, your trusted destination for quick oil changes.</p>
</section>
<section class="mb-8">
    <h3 class="text-xl font-bold text-blue-800 mb-4">Available Coupons</h3>
      {% for coupon in coupons %}

      <div class="shadow-lg p-5 flex flex-col">
          {% include "coupon-offer.njk" %}
          <div class="coup-info mb-4 h-100 flex flex-col md:flex-row justify-center ps-rv">
            <p class="w-full md:w-1/3 text-center md:text-left justify-center flex sale-off-value text-primary text-uppercase text-4xl font-bold mb-4 md:mb-0" tabindex="-1">
              <span class="char text-4xl md:text-6xl self-center">$</span>
              <span class="text-v2 text-6xl md:text-8xl sale-off-value-span self-center">{{ coupon.discount }} </span>
              <span class="text-lg md:text-2xl pr-3 self-center"> OFF</span>
            </p>
            <div class="text-center md:text-left md:border-l pl-0 md:pl-5 md:w-1/2 sale-off-description last-mb-none mt-4 md:mt-0">
              <p class="text-lg font-semibold mb-2"><strong>{{ coupon.title | safe }}</strong></p>
              <p class="text-base">{{ coupon.subtitle }}</p>
            </div>
          </div>
          {% image coupon.upc, coupon.imgAlt, "mx-auto" %}
          <p class="text-center text-xs mt-5">Expires on: {{ coupon.expiration }}</p>
          {# <p class="text-center mt-5">Get Coupon</p> #}
      </div>

    <div class="flex flex-col items-center pt-5">
      <div class="flex flex-col md:flex-row justify-center">
        {% include "coupon-actions.njk" %}
        <a href="#" onclick="window.print(); return false;" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full mt-4 md:mt-0 md:ml-2">Print Coupon</a>
      </div>
    </div>
    {% endfor %}
</section>

<section class="mb-8">
    <h3 class="text-xl font-bold text-blue-800 mb-4">Locations</h3>
    <p>Just drive on in.</p>
    <ul class="flex list-disc ml-8 justify-between">
      {% for store in stores %}
        <li class="w-50">
          <h3>{{ store.name }}</h3>
          <p>{{ store.address }}</p>
          <p>{{ store.phone }}</p>
          <a
            class="text group mt-8 inline-flex h-9 flex-none items-center whitespace-nowrap rounded-full bg-blue-500 hover:bg-blue-600 py-5 px-3 font-semibold text-white hover:bg-red-light md:ml-10 md:mt-0"
            target="_blank"
            href="{{ store.gmap }}"
          >
            <span class="pl-4"
              >Get Directions
              <i class="im-arrow-right pl-2 font-icomoon text-lg"></i>
            </span>
          </a>

        </li>
      {% endfor %}
    </ul>
</section>
<h2 class="text-xl font-bold text-blue-800 mb-4">Why Hometown Lube</h2>
<ul>
{% for benefit in htlBenefits.items %}
<h3 class="font-bold text-base">{{ benefit.text }}</h3>
<p class="text-sm">{{ benefit.desc }}</p>
{% endfor %}
</ul>

<p class="text-base mt-5">For questions, comments or problems with this page, please <a class="text-blue-500 hover:text-blue-600" href="{{'/contact/' | url | absoluteUrl(site.baseUrl) }}">Contact Us</a></p>
{# <div class="h-64 bg-gradient-to-b from-blue-900 via-blue-800 to-blue-700"></div> #}
