---
meta:
  title: Exactimate Estimates
  description: this is the home page meta description.
layout: base
templateEngineOverride: njk
eleventyNavigation:
  key: Home
  order: 1
---

{% block scripts %}
    <script type="module" src="{{ '/assets/js/swiper-mousewheel.js' | url }}"></script>
{% endblock %}

{% for folder in collections.folder | reverse %}
{% set folderVar = folder | slugify %}
{% set folderLayout = folderVar | default(sectionDefault) %}
{% set folderTemplatePath = "components/" + folderVar + ".njk" %}
{% include folderTemplatePath %}
{% endfor %}
