---
meta:
  title: Exactimate Estimates
  description: this is the home page meta description.
layout: base
templateEngineOverride: njk
eleventyNavigation:
  key: Home
  order: 1
---

{% for section in collections.sections %}
  {% set layout = section.data.components | default(sectionDefault) %}
  {% set templatePath = "components/" + layout + ".njk" %}
  {% include templatePath %}
{% endfor %}
