<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="{{ meta.lang or site.lang }}">
  <head>
    {% include "meta.njk" %}
  </head>

  <body class="min-h-screen bg-white" data-env="{{ node.env }}">

    {% include "header.njk" %}
    <div @html="content">
      <main id="main" tabindex="-1">
          {{ content | safe }}
      </main>
    </div>
    {# {% include "site-banner.njk" %} #}
    {% include "footer.njk" %}
    <script type="module" src="{{ '/assets/js/index.js' | url }}"></script>
  </body>
</html>
