<div data-theme="business" class=
"relative page-block {{ section.data.components | slugify }} {{ section.url | slugify }} selection:bg-primary-900 selection:text-primary-50 {% for cssClass in section.data.cssclasses %}{{ cssClass }} {% endfor %}{% if section.data.version %} v{{ section.data.version | slugify }}{% endif %}">
  <div class="w-3/4 md:container mx-auto relative">
  {{ section.content | safe }}
  </div>
</div>
