<div class="{{ section.data.components | slugify }} mx-auto w-1/2 text-center selection:bg-primary-900 selection:text-primary-50">
<h2 class="text-4xl font-normal uppercase">{{ section.data.title }}</h2>
<p>{{ section.data.description }}</p>
</div>
<div class=
"page-block {{ section.url | slugify }} {% for cssClass in section.data.cssclasses %}{{ cssClass }} {% endfor %}{% if section.data.version %} v{{ section.data.version | slugify }}{% endif %}">
  <div class="w-full border-group">
  {{ section.content | replaceBusinessName(site.name) | safe }}
  </div>
</div>
